.menu-left {
  padding-bottom: 40px;
  padding-left: 25px;
  overflow-x: hidden;
}

li .slovoMenu {
  list-style-image: url("../img/hash-tag.png");
  padding-left: 0px;
}

.div-search {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  width: 280px;
}
.div-clear {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 40px;
  height: 31px;
  background-color: #b5e4ff;
  font-size: 25px;
  cursor: pointer;
  color: white;
  padding-left: 3px;
}

.input-search {
  width: 100%;
  height: 33px;
  color: #4a4a4a;
  font-size: 18px;
  background: #dcf2ff;
  padding: 5px;
  border: 1px solid #a7dfff;
}

#titleHelp {
  background: #e0e0e0;
  padding-top: 3px;
  color: #5b5b5b;
  margin-left: 10px;
  height: 25px;
  width: 81%;
  position: absolute;
  bottom: 0.1rem;
  right: 4px;
}
